

/*  Стили шапки */

header{

} /* — вся шапка; */

.header__menu{

} /* контейнер навигации; */

.header__links-list{

}/*  — список ссылок; */

.header__links-list-item{

} /* — каждый пункт в списке; */

.header__links-list-item_no-bullit{

} /* — этот класс может потребоваться, чтобы сделать ссылку без кружочка; */

.header__link{

} /* — каждая ссылка в пункте списка; */

.header__link_active{

} /* — выбранная ссылка меню (без подчёркивания); */

.header__logo{

} /* — контейнер логотипа; */

.header__logo-image{

} /* — картинка с логотипом; */

.address{
    
}/*  — общий класс для блока с адресом (переиспользуется в шапке и подвале);*/

.header__address{

}/* — для выравнивания блока с адресом. В футере используется другое выравнивание. */


/*  Стили секций */

.cover{

}
.lots{

}
.about{

}

.footer{

}