
@import url('../fonts/fonts.css');

/*  Стили шапки */

body{
    background-color: white;
}

.header{
    padding: 92px 50px 96px 50px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header__menu{
    height: 22px;
    align-items: top;
}

.header__links-list{
    display: flex;
    flex-direction: row; 
    list-style-position: inside;
    gap: 28px;
    list-style: circle;
    
}

.header__links-list-item{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__link{
    text-decoration: underline;
} 

.header__link_active{
    text-decoration: none;
}

.header__logo{
    justify-self: center;
}

.header__logo-image{
    width: 148px;
    height: 105px;
}

.header__address{
    justify-self: end;
}


/*  Стили cover */

.cover{
    position: relative;
    width: 100%;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    padding: 165px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.aligned-text {
    display: block;
    margin-bottom: 20px;
}
.no-letter-spacing{
    letter-spacing: 0;
}
.aligned-text_left{
    text-align: left;
}
  
.aligned-text_center{
    text-align: center;
}
  
.aligned-text_right{
    text-align: right;
}
.cover__description{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.cover__description-text{
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;
    word-spacing: 20px;
}
.bet-button{
    border: 1px solid #FFFFFF;
    width: 256px;
    height: 51px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    background-color: transparent;
    text-transform: uppercase;
}


/* Секция с лотами */

.lots{
    margin: 180px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lots__heading{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}

.lots__card-list{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    
}

.lots__card-list-item{
    width: 100%;
}

.card{
    position: relative; 
    padding: 48px 40px;
    min-width: 200px;
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card__title{
    position: relative;
    z-index: 1;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    
}

.card__text{
    position: relative;
    z-index: 1;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.card_type_film{
    background-image: url('../images/card-lot-01.jpg');
    background-size: cover;
}

.card_type_book{
    background-image: url('../images/card-lot-02.jpg');
    background-size: cover;
}

.card_type_picture{
    background-image: url('../images/card-lot-03.jpg');
    background-size: cover;
}

.lots__look-more-link{
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: lowercase;
    margin-left: 40px;
}


/* Об аукционе*/

.about{
    margin: 120px 24px 180px 24px;
    padding: 35px 0 0 47px;
    display: grid;
    grid-template-columns: 240px auto;
    gap: 72px;
}

.about__logo{
    display: flex;
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}

.about__text-column{
    display: flex;
    flex-direction: column;
    margin-top: 101px;
    
}

.about__title{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text{
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about__text p {
    margin-bottom: 24px;
}

.about__text p:last-child {
    margin-bottom: 0px;
}


/* Футер*/

.footer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 180px;
    padding: 0 50px;

}

.footer__menu{
    margin-top: 1px;

}

.footer__menu-list{
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: none;   
}

.footer__menu-list-item{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
}
.footer__menu-link{
    text-decoration: underline;
}
.footer__menu-link_active{
    text-decoration: none;
}

.footer__social-list{
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-self: right;
}

.footer__social-list-item{
    border: 1px solid #000000;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.footer__social-link{

}

.footer__social-icon{
    
}


/* Переиспользуемые стили*/

.overlay{
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.address{
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 18px;
    color: #000;
    line-height: 24.3px;
    font-weight: 400;
    max-width: 240px;
}

.address a {
    text-decoration: underline;
}